body{
    background-color: rgb(22, 21, 21);
    font-family: 'Montserrat', sans-serif;
}




.hero img{
    display: block;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 175px;
    border: 2px solid rgb(36, 36, 184);
    box-shadow: 3px 3px 5px 6px #ccc;
}

h2{
    margin: 20px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    color: white;
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    opacity: 0;
}

h3{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 1rem;
  
}

.list{
    display: flex;
    justify-content: center;
    font-size: .8rem;
    margin: 10px 10px;
}

ul li{
    list-style: none;
}

.truth{
    height: fit-content;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px 20px;
    background-color: rgb(36, 36, 184);
    color: white;
    box-shadow: 3px 3px 5px 6px #ccc;
    animation-name: fadein;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 1.5s;
    opacity: 0;

}

.quote{
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-left:10px;
    
    font-size: 1rem;
    
    
}

.author{
    display: flex;
    justify-content: center;
    margin-left: 8rem;
    font-size: 1rem;
    
}

h4{
    display: flex;
    justify-content: center;
    color: white;

}

footer{
    display: inline-block;
    margin-left: 20%;
}

.email{
    display: flex
}

.email img{
    height: 50px;
    width: 50px;
    margin: 10px;
    border: 2px solid white;
}

.email p{
    color: white;
    margin: 25px;
}

.phone{
    display: flex;
}

.phone img{
    height: 50px;
    width: 50px;
    margin: 10px;
    border: 2px solid white;
}

.phone p{
    color: white;
    margin: 25px;
}

.insta{
    display: flex;
}

.insta a img{
    height: 50px;
    width: 50px;
    margin: 10px;
    border: 2px solid white;
}

.insta p{
    color: white;
    margin: 25px;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    20%{
        opacity: .2;
    }
    40%{
        opacity: .4;
    }
    60%{
        opacity: .6;
    }
    80%{
        opacity: .8;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slide {
	0% {
        transform:translateX(-100%);
    }
	100% {
        transform:translateX(100%);
       }
}

@media (min-width: 300px){
    h2{
        font-size: 1.25rem;
    }
    
    h3{
        font-size: 1.25rem;
    }
    
    .list{
        font-size: 1rem;
    }

    .quote{
        font-size: 1.25rem;
    }
    .author{
        font-size: 1.25rem;
        margin-left: 10rem
    }

    footer{
        display: inline-block;
        margin-left: 20%;
        
    }

    .phone p{
        font-size: 12px;
        margin: 15px;
    }

    .phone img{
        height: 30px;
        width: 30px;
    }

    .email p{
        font-size: 12px;
        margin: 15px;
    }

    .email img{
        height: 30px;
        width: 30px;
    }

    .insta a img{
        height: 30px;
        width: 30px;
       
    }

    .insta p{
        font-size: 12px;
        margin: 15px;
    }
}

@media (min-width: 600px){
    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 2rem;
    }
    
    .list{
        font-size: 1rem;
    }

    .quote{
        font-size: 1.5rem;
    }
    .author{
        font-size: 1.5rem;
        margin-left: 12rem
    }
    
    footer{
    display: flex;
    margin-left: 0;
    justify-content: space-evenly;
    }
}

@media (min-width: 900px){
    h2{
        font-size: 2.25rem;
    }

    h3{
        font-size: 2.25rem;
    }
    
    .list{
        font-size: 1.75rem;
    }

    .quote{
        font-size: 2rem;
    }
    .author{
        font-size: 1.75rem;
        margin-left: 14rem
    }

    footer{
        display: flex;
        margin-left: 10px;
        justify-content: space-evenly;
        }
}


